.img{
    width: 300px;
}
h1{
    color: #272142;
        font-size: 38px;
        font-weight: 700;
        line-height: 48px;
        margin: 20px 0 10px
}
.Weather {
    margin: 10px 0;
    width: 50px;
}